<div>
  <% flash.each do |key, value| %>
    <div class="flash_message alert alert-<%= key %> <%= key == 'notice' ? 'flash_notice' : 'flash_error' %> %>">
      <%= value %>
    </div>
  <% end %>
</div>